.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg);
    color: #ac9659;
  }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: unset; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #ac9659;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #eaf0c9;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/my pi_c.png");
      background-attachment: fixed;
      border-radius: 50%;
      border: solid 0px #D74238; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #444; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #444;
        transform: scale(1.25)
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

.fa-linkedin:before {
  content: "\f08c";
  opacity: 75%;
}
.fa-github:before {
  content: "\f09b";
  opacity: 75%;
}

.fa-instagram:before {
  content: "\f16d";
  opacity: 75%;
}

.fa-hackerrank:before {
  content: "\f5f7";
  opacity: 75%;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  pedding: 0;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  line-height: 2; }
  body#bg-img {
    background: url("../img/_MG_3590.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.8); }

h1,
h2,
h3 {
  margin: -30px;
  font-weight: 400; }
  h1.lg-heading  {
    font-size: 6rem;
  }
  h2.lg-heading {
    font-size: 2rem;
  }
  h3.lg-heading {
    font-size: 6rem;
  }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 0rem;
    padding: 0.2rem 1rem;
    color: #eaf0c9;
    background: rgba(73, 73, 73, 0.5); }
  .lg-heading{
    color: #eaf0c9;
  }
  h2.sm-heading {
    margin-top: -3rem;
    opacity: 75%;
  }
  h2,
  h3 {
    color: #ac9659;
  }
a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #ac9659; }

main {
  padding: 2rem 4rem 0rem 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #ac9659;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 25vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    background: url("../img/My picopy.jpg");
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
   }
  /* Add spacing between headings and paragraphs */
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 1rem;
    opacity: 75%;
    margin-bottom: 1rem; /* Adjust as needed */
  }
  p {
    color: #ac9659;
  }

  /* Add spacing between sections or divs */
  div {
    margin-bottom: 2rem; /* Adjust as needed */
  }
  .about-info .bio {
    grid-area: bio;
    font-size: 0rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    display: contents;
    margin-top: 40px;
    padding: 0.5rem;
    border: #ac9659;
   }
.job-11 .sm-heading {
  color: #eaf0c9;
}
.job-11 .job-heading {
  color: #ac9659;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ac9659;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #ac9659;
      color: #ffffff; }
      .boxes div:hover span {
        color: #eaf0c9; }

.sm-heading{
  margin-top: -5px;
}


.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #ac9659;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #eaf0c9;
  color: #ac9659;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: solid 0px
    }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .about-info .btn{
    margin-bottom : 15%;
	  width : 30%;
	  padding : 2% 5%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .projects {
    grid-template-columns: 1fr; } }


    /* Make sure that padding behaves as expected */
    * {box-sizing:border-box}

    /* Container for skill bars */
    .container {
      width: 50; /* Full width */
      background-color: #ddd; /* Grey background */
    }


    .text-primary {
      margin-top: 20px;
      padding: 0;
      text-align: right;
      margin-bottom: 40px;
    }

    .bd {
      margin-bottom: 30px;
      margin-top: 28px;
      width: 100%;
      text-align: center;
      background-color: #E73118;
    }

    .fd {
      margin-bottom: 30px;
      margin-top: 28px;
      width: 50%;
      text-align: center;
      background-color: #E73118;
    }


    .mongodb {
      width: 92%;
      text-align: center;
      background-color: #E73118;
      margin-top: 10px;
      margin-bottom: 28px;
    }
    .python {
      margin-bottom: 10px;
      margin-top: 28px;
      width: 85%;
      text-align: center;
      background-color: #E73118;
    }
    .flask {
      margin-bottom: 10px;
      margin-top: 28px;
      width: 82%;
      text-align: center;
      background-color: #E73118;
    }
    .django {
      margin-bottom: 10px;
      margin-top: 28px;
      width: 30%;
      text-align: center;
      background-color: #E73118;
    }
    .qa {
      margin-bottom: 10px;
      margin-top: 28px;
      width: 85%;
      text-align: center;
      background-color: #E73118;
    }
    .ws {
      margin-bottom: 10px;
      margin-top: 28px;
      width: 75%;
      text-align: center;
      background-color: #E73118;
    }

    .text--1{
      margin-top: 50px;
    }
